@{
    Layout = null;
}
<link rel="stylesheet" href="~/css/BlogPost.css" />
<script src="https://kit.fontawesome.com/dbed6b6114.js" crossorigin="anonymous"></script>

<!-- header -->
<header class="header">
    <div class="nav-section">
        <div class="brand-and-navBtn">
            <span class="brand-name">
                LUIGI
            </span>
            <span class="navBtn flex">
                <i class="fas fa-bars"></i>
            </span>
        </div>

        <!-- navigation menu -->
        <nav class="top-nav">
            <ul>
                <li><a href="/" class="active">Home</a></li>
                <li><a href="/Home/Gallery">Gallery</a></li>
                <li><a href="/Home/Blog">Blog</a></li>
                <li><a href="/Home/Contact">Contact</a></li>
                <li><a href="/Foto/Index">Admin</a></li>
            </ul>
        </nav>
        <span class="search-icon">
            <i class="fas fa-search"></i>
        </span>
    </div>

</header>

<div class="row">
    <div class="leftcolumn">
        <div class="card">
            <h1>La NOSTRA fotografia</h1>
            <h5>Title description, Oct 13, 2023</h5>
            <img class="img-fluid" src="~/img/blog1.jpg" alt="Image" style="height:500px;">
           <br />
            <p class="blog-p">
                In tutti questi anni (ben 12!) molte persone hanno guardato e riguardato il nostro video corso di base di fotografia digitale per imparare come usare la fotocamera e fare foto migliori. Continuando a ricevere email di utenti entusiasti che volevano fare un passo in più o che comunque gradivano l’idea di poter studiare quelle nozioni in un libro, dopo il successo di FOODPORN – L’arte di fotografare il cibo, chiaccherando con l’editore Tecniche Nuove è venuta fuori l’idea di pubblicare un libro di tecnica fotografica che sfruttasse la logica dei tutorial per affrontare sul campo numerose situazioni realistiche.

                Ecco allora che è nata l’idea di “FOTOGRAFARE in 52 tutorial settimanali”, un libro in cui abbiamo usato lo stesso linguaggio semplice e comprensibile dei nostri video per spiegare la fotografia a chi sta iniziando a praticare questa meravigliosa disciplina..
            </p>
            <br />
            <p class="blog-p">
                A differenza del videocorso, però, qui non parliamo solo di come funziona la fotocamera, ma integriamo le nozioni con le esperienze sul campo, tutte realistiche e fattibili da chiunque, con un equipaggiamento di base e dando indicazioni utili su come alcuni accessori potrebbero migliorare il risultato. Abbiamo tenuto conto delle esigenze di chi sta iniziando e che probabilmente non è dotato di un equipaggiamento professionale.

                Ogni scheda presenta una situazione (es. Ritratto, Panorami, ecc.) che viene analizzata e per la quale diamo consigli utili per affrontarla al meglio e proponiamo un esperimento guidato sul campo.

                Il libro è in vendita in tutte le migliori librerie e negli store online di Tecniche Nuove e Amazon.
            </p>
            <p class="blog-p">
                A cosa serve l’istogramma in fotografia?
                L’istogramma fotografico fornisce una valutazione oggettiva dell’esposizione di una fotografia, permettendoci di capire “al volo” se una foto è sovraesposta, sottoesposta, oppure presenta tonalità sbilanciate verso le ombre o delle luci bruciate, a patto che sappiamo interpretare l’immagine che abbiamo sotto agli occhi.
                Una volta imparato a leggerlo e comprenderlo, specialmente dopo un po’ di esperienza, si dimostra un aiuto validissimo nel comprendere se uno scatto ha la giusta esposizione, in base a scena e risultato che vogliamo ottenere, soprattutto quando le condizioni di luce sul campo rendono non così affidabile la valutazione dell’immagine “a occhio” sul display.

                Come si legge l’istogramma in fotografia?
                Come scritto in precedenza, l’istogramma mostra la quantità di pixel per una determinata luminosità. La luminosità (ovvero il livello tonale) è indicata sull’asse orizzontale con un valore che varia da 0, il nero, a 255, che corrisponde al bianco.
            </p>
            <hr />
            <br/>
            <br />
            <h2>L'autore</h2>
            <p>Nasce a Ferrara il 21 maggio 1983 e fin da giovane è appassionato di tecnologia, mostrando grande interesse per tutto ciò che riguarda l'informatica e le telecomunicazioni. Dal 2006 è socio cofondatore di ITestense, società specializzata nella fornitura di servizi per le aziende. Nel 2012 si laurea in Ingegneria Elettronica e delle Telecomunicazioni presso l'Università di Ferrara. Dopo l'esperienza maturata nell'ambito server e networking, ha deciso di seguire la sua passione per la programmazione, dedicandosi in particolare allo sviluppo nel mondo web e SEO.</p>
        </div>
        <hr />
    </div>
    <div class="rightcolumn">
        <div class="card">
            <h2>About Me</h2>
            <img src="~/img/blog2.jpg" alt="Image" style="height:300px;">
            <p>Some text about me in culpa qui officia deserunt mollit anim..
                lorem lorem 
            </p>
            <btn class="btn btn-info">Read More</btn>
        </div>
        <div class="card">
            <h3>Popular Post</h3>
            <h2>Polaroid </h2>
            <img src="~/img/blog3.jpg" alt="Image">
            <btn class="btn btn-info">Read More</btn>
            <br>
            <h2>Fotografia "immersiva"</h2>
            <img src="~/img/blog4.jpg" alt="Image">
            <btn class="btn btn-info">Read More</btn>
        </div>
    </div>
</div>


<!-- end of header -->
<script src="~/js/template.js"></script>
